.card h2, .card h3, .card .review__text {
  font-weight: 500;
}

.card .review__header {
  font-weight: 600;
}

/*   --- root css --- */
:root {
  --font-size: 90%;
  --names: 0.89375rem;
  --graduate: 0.75625rem;
  --review__header: 1.375rem;
  --review__par: 0.89375rem;
}

/*   --- normalize css --- */
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
form,
aside,
input,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #808080;
}

/* --- typography --- */
@font-face {
  font-family: "Barlow_semi_condensed";
  src: url(../assets/webfonts/Font-face/BarlowSemiCondensed-Medium.woff2) format("woff2"), url(../assets/webfonts/Font-face/BarlowSemiCondensed-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Barlow_semi_condensed";
  src: url(../assets/webfonts/Font-face/BarlowSemiCondensed-SemiBold.woff2) format("woff2"), url(../assets/webfonts/Font-face/BarlowSemiCondensed-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
/*   --- general settings --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
html ::-moz-selection {
  background-color: #ecf2f8;
  color: white;
}
html ::selection {
  background-color: #ecf2f8;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #808080;
}

/*  --- header --- */
/* --- home main --- */
.home {
  font-optical-sizing: auto;
  background-color: #ecf2f8;
  font-family: "Barlow_semi_condensed", sans-serif;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 26.0416666667em;
  margin-inline: auto;
  min-width: 13.8888888889em;
  padding: 1.6666666667em;
}

.card {
  -webkit-box-shadow: 2.7777777778em 4.1666666667em 3.4722222222em -3.2638888889em rgba(72, 85, 106, 0.2470588235);
          box-shadow: 2.7777777778em 4.1666666667em 3.4722222222em -3.2638888889em rgba(72, 85, 106, 0.2470588235);
  border-radius: 0.5555555556em;
  padding: 1.8055555556em 2.2222222222em 2.2222222222em;
  margin-bottom: 1.6666666667em;
}

.clifford {
  background-color: #7541c8;
}

.walters {
  background-color: #48556a;
}

.harmon {
  background-color: #ffffff;
}

.abrams {
  background-color: #19202d;
}

.whittle {
  background-color: #ffffff;
}

.card .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1805555556em;
}
.card img {
  max-width: 1.9444444444em;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.card h2 {
  font-size: var(--names);
  line-height: 1em;
  margin-bottom: 0.3076923077em;
}
.card h3 {
  font-size: var(--graduate);
  line-height: 1em;
  opacity: 0.5;
}
.card .review__header {
  font-size: var(--review__header);
  line-height: 1.2em;
  margin-top: 0.9em;
  margin-bottom: 0.8em;
}
.card .review__text {
  font-size: var(--review__par);
  line-height: 1.3846153846em;
  opacity: 0.7;
}
.card.clifford {
  color: #ffffff;
  position: relative;
  z-index: 100;
}
.card.clifford .review__text {
  color: #cfcfcf;
}
.card.clifford .review__header {
  margin-bottom: 2em;
}
.card.clifford img {
  border: 2px solid #a775f1;
}
.card.clifford::before {
  position: absolute;
  content: "";
  width: 7.2222222222em;
  height: 7.0833333333em;
  top: 0;
  right: 1.6666666667em;
  background-image: url(../assets/img/bg-pattern-quotation.svg);
  z-index: -1;
}
.card.walters {
  color: #ffffff;
}
.card.harmon, .card.whittle {
  color: #48556a;
}
.card.abrams {
  color: #ffffff;
}
.card.abrams .review__header {
  color: #ecf2f8;
}
.card.abrams img {
  border: 2px solid #a775f1;
}

/* mediaqueries */
@media only screen and (max-width: 300px) {
  :root {
    --font-size: 80%;
  }
  .container {
    padding-block: 2.0833333333em 2.0833333333em;
    padding-inline: 0em;
  }
  .card {
    border-radius: 0;
    padding: 2.03125em 1.171875em 2.03125em 1.171875em;
  }
  .card img {
    max-width: 3.125em;
  }
}
@media only screen and (min-width: 650px) {
  .container {
    max-width: 60.625em;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3.636%;
  }
  .container [data-order="1"],
  .container [data-order="4"] {
    max-width: 65.4545454545%;
  }
  .container [data-order="2"],
  .container [data-order="3"] {
    max-width: 30.90909%;
  }
  .container [data-order="5"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=home.css.map */
