@use '../tools/' as *;

// --------------------
/*   --- root css --- */
// --------------------

:root {
    --font-size: #{$font-size-90};
    --names: #{$names--Mid};
    --graduate: #{$graduate--Mid};
    --review__header: #{$review__header--Mid};
    --review__par: #{$review__par--Mid};
}
