//----------------------
/* --- typography --- */
//----------------------

// font face declarace

// Source Sans 3 - variable
// @font-face {
//     font-family: 'Source Sans 3';
//     src: url(../assets/webfonts/static/SourceSans3-VariableFont_wght.woff2) format('woff2');
//     font-weight: 200 900;
//     font-display: swap;
// }

// Outfit - 400 - Regular
// @font-face {
//     font-family: 'Outfit';
//     src: url(../assets/webfonts/Font-face/Outfit-Regular.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Outfit-Regular.ttf) format('truetype');
//     font-weight: 400;
// }

// // Outfit - 600 - SemiBold
// @font-face {
//     font-family: 'Outfit';
//     src: url(../assets/webfonts/Font-face/Outfit-SemiBold.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Outfit-SemiBold.ttf) format('truetype');
//     font-weight: 600;
// }

// // Outfit - 700 - Bold
// @font-face {
//     font-family: 'Outfit';
//     src: url(../assets/webfonts/Font-face/Outfit-Bold.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Outfit-Bold.ttf) format('truetype');
//     font-weight: 700;
// }

// // Figtree - 500
// @font-face {
//     font-family: 'Figtree';
//     src: url(../assets/webfonts/Font-face/Figtree-Medium.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Figtree-Medium.ttf) format('truetype');
//     font-weight: 500;
// }

// // Figtree - 800
// @font-face {
//     font-family: 'Figtree';
//     src: url(../assets/webfonts/Font-face/Figtree-ExtraBold.woff2)
//             format('woff2'),
//         url(../assets/webfonts/Font-face/Figtree-ExtraBold.ttf)
//             format('truetype');
//     font-weight: 800;
// }

// // Inter - 400
// @font-face {
//     font-family: 'Inter';
//     src: url(../assets/webfonts/Font-face/Inter-Regular.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Inter-Regular.ttf) format('truetype');
//     font-weight: 400;
// }

// // Inter - 600
// @font-face {
//     font-family: 'Inter';
//     src: url(../assets/webfonts/Font-face/Inter-SemiBold.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Inter-SemiBold.ttf) format('truetype');
//     font-weight: 600;
// }

// // Inter - 700
// @font-face {
//     font-family: 'Inter';
//     src: url(../assets/webfonts/Font-face/Inter-Bold.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Inter-Bold.ttf) format('truetype');
//     font-weight: 700;
// }

// // Young Serif - 400
// @font-face {
//     font-family: 'Young Serif';
//     src: url(../assets/webfonts/Font-face/YoungSerif-Regular.woff2)
//             format('woff2'),
//         url(../assets/webfonts/Font-face/YoungSerif-Regular.ttf)
//             format('truetype');
//     font-weight: 400;
// }

// // Fraunces - 700
// @font-face {
//     font-family: 'Fraunces';
//     src: url(../assets/webfonts/Font-face/Fraunces_144pt_SuperSoft-Bold.woff2)
//             format('woff2'),
//         url(../assets/webfonts/Font-face/Fraunces_144pt_SuperSoft-Bold.ttf)
//             format('truetype');
//     font-weight: 700;
// }

// // Montserrat - 500
// @font-face {
//     font-family: 'Montserrat';
//     src: url(../assets/webfonts/Font-face/Montserrat-Medium.woff2)
//             format('woff2'),
//         url(../assets/webfonts/Font-face/Montserrat-Medium.ttf)
//             format('truetype');
//     font-weight: 500;
// }

// // Montserrat - 700
// @font-face {
//     font-family: 'Montserrat';
//     src: url(../assets/webfonts/Font-face/Montserrat-Bold.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Montserrat-Bold.ttf) format('truetype');
//     font-weight: 700;
// }

// // Poppins - 200
// @font-face {
//     font-family: 'Poppins';
//     src: url(../assets/webfonts/Font-face/Poppins-ExtraLight.woff2)
//             format('woff2'),
//         url(../assets/webfonts/Font-face/Poppins-ExtraLight.ttf)
//             format('truetype');
//     font-weight: 200;
// }

// // Poppins - 400
// @font-face {
//     font-family: 'Poppins';
//     src: url(../assets/webfonts/Font-face/Poppins-Regular.woff2) format('woff2'),
//         url(../assets/webfonts/Font-face/Poppins-Regular.ttf) format('truetype');
//     font-weight: 400;
// }

// // Poppins - 600
// @font-face {
//     font-family: 'Poppins';
//     src: url(../assets/webfonts/Font-face/Poppins-SemiBold.woff2)
//             format('woff2'),
//         url(../assets/webfonts/Font-face/Poppins-SemiBold.ttf)
//             format('truetype');
//     font-weight: 600;
// }

// Barlow-semiCon - 500
@font-face {
    font-family: 'Barlow_semi_condensed';
    src: url(../assets/webfonts/Font-face/BarlowSemiCondensed-Medium.woff2)
            format('woff2'),
        url(../assets/webfonts/Font-face/BarlowSemiCondensed-Medium.ttf)
            format('truetype');
    font-weight: 500;
}

// Barlow-semiCon - 600
@font-face {
    font-family: 'Barlow_semi_condensed';
    src: url(../assets/webfonts/Font-face/BarlowSemiCondensed-SemiBold.woff2)
            format('woff2'),
        url(../assets/webfonts/Font-face/BarlowSemiCondensed-SemiBold.ttf)
            format('truetype');
    font-weight: 600;
}
