@use './functions' as *;
// ---------------------
//   --- Variables ---
// ---------------------

$debug: false;

// --- color pallete ---
$clr10: #ffffff;
$clr11: #7541c8;
$clr12: #48556a;
$clr13: #19202d;
$clr14: #cfcfcf;
$clr15: #ecf2f8;
$clr16: #a775f1;
$clr17: #48556a3f;

$clr99: #808080;
// -----------------------

// font color
// text H1
$clr-txt-H1: $clr11;

// text H2
$clr-txt-H2: $clr10;
// text H2--inverted
$clr-txt-H2--inverted: $clr12;

// text H3
$clr-txt-H3: $clr10;
// text H3--inverted
$clr-txt-H3--inverted: $clr12;

// cifford-par
$clr-txt-clifford: $clr14;
// walters-abrams-par
$clr-txt-walters: $clr10;
// harmon and whittle-par
$clr-txt-harmon-whittle: $clr12;

// price-old
$clr-txt-price--old: $clr12;

// text btn
$clr-txt-btn: $clr10;
// -------------------------

// backround color
$clr-bg-body: $clr15;

$clr-bg-container: $clr15;

$clr-bg-Preparation: $clr16;

$clr-bg-card-btn: $clr13;
$clr-bg-card-btn-hover: $clr14;

$clr-bg-active: $clr10;

$clr-bg-footer: $clr10;

$clr-bg-img: $clr99;
// -------------------------

$backroundGradient: (98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
// --------------------------------

// --- fonts ---
$font-family-SourceSans: 'Source Sans 3', sans-serif;
$font-family-Outfit: Outfit, sans-serif;
$font-family-Figtree: Figtree, sans-serif;
$font-family-Inter: Inter, sans-serif;
$font-family-YoungSerif: 'Young Serif', serif;
$font-family-Montserrat: Montserrat, serif;
$font-family-Fraunces: Fraunces, serif;
$font-family-Poppins: Poppins, sans-serif;
$font-family-Barlow-semiCon: 'Barlow_semi_condensed', sans-serif;

$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-systemUI: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// -------------------------------

// --- border-radius ---
$br-card--mobile: 8;
$br-card--desktop: 6;
$br-btn: 8;
// ----------------------

// border color
$clr-br: $clr13;
$clr-br-list: $clr13;
// ----------------------

// shadow color
$clr-shdw: $clr17;
// ----------------------

// transition
$tr-time: 0.2s;
//----------------------

// --- break points ---
$bp-Max: 900px;
$bp-Mid: 650px;
$bp-Min: 650px;
$bp-Mni: 250px;
// -------------------------------

// --- font-sizes ---
$font-size-110: 110%;
$font-size-100: 100%;
$font-size-90: 90%;
$font-size-80: 80%;
// --------------------------------

// names
$names--Max: rem(13, 0); //32
$names--Mid: rem(13, 10); //13

// graduate
$graduate--Max: rem(11, 0); //36
$graduate--Mid: rem(11, 10); //1

// review header
$review__header--Max: rem(20, 0); //20
$review__header--Mid: rem(20, 10); //20

// review par
$review__par--Max: rem(13, 0); //15
$review__par--Mid: rem(13, 10); //13

// Card-par
$card-par--Max: rem(13, 0); //13
$card-par--Mid: rem(13, 10); //13

// btn
$btn--Max: rem(14, 0); //14
$btn--Mid: rem(14, 0); //16

//footer
$footH3Max: rem(14, 0); //14px
$footH3Mid: rem(14, 0); //14px
$footmin: 0.975rem; //15.6px
$footmni: 0.825rem; //13.2px
// --------------------------------

// --- pole ---
// icon colors
$cards__color: (
    'clifford': $clr11,
    'walters': $clr12,
    'harmon': $clr10,
    'abrams': $clr13,
    'whittle': $clr10,
);

$btns__color: (
    'GetStarted': $clr11,
    'ContinueReading': $clr12,
    'FindOutMore': $clr12,
    'LearnMoreMain': $clr11,
    'comments': $clr11,
);
//--------------------------------
