@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// ----------------------
/* mediaqueries */
// ----------------------

@include mQdefault__max-width(300px) {
    :root {
        --font-size: #{$font-size-80};
    }

    .container {
        padding-block: em(30, 14.4) em(30, 14.4);
        padding-inline: em(0, 14.4);
    }
    .card {
        border-radius: 0;
        padding: em(26, 12.8) em(15, 12.8) em(26, 12.8) em(15, 12.8);
        img {
            max-width: em(40, 12.8);
        }
    }
}

@include mQdefault__min-width(650px) {
    .container {
        @include container(em(873, 14.4));

        grid-template-columns: repeat(3, 1fr);
        gap: clamp(0.357rem, 11.211vw - 4.848rem, 2.143rem);

        .clifford,
        .abrams {
            grid-column: span 2;
        }

        .whittle {
            grid-column: span 3;
        }
    }
}

@include mQdefault__min-width(1024px) {
    .container {
        @include container(em(1158, 14.4));

        grid-template-columns: repeat(4, 1fr);

        grid-template-rows: repeat(2, 1fr);

        .whittle {
            grid-column: 4/5;
            grid-row: 1/-1;
            order: 3;
        }
    }
}
